@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

html {
  box-sizing: border-box;
}
body {
  background-color: #001e4f;
  margin: 0;
  color: white;
  font-family: Quicksand, sans-serif;
  overflow-y: hidden;
}
:root {
  --column-1: #a2622d;
  --column-2: #1b6161;
  --column-3: #248224;
  --column-4: #a22d22;
}

h1 {
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px black;
  text-align: center;
  font-size: 3rem;
}
.drag_container {
  display: flex;
  margin: auto;
  justify-content: space-around;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

/*column backgrounds colors */
.backlog {
  background-color: var(--column-1);
  padding: 10px;
  border-radius: 10px;
}

.progress {
  background-color: var(--column-2);
  padding: 10px;
  border-radius: 10px;
}

.complete {
  background-color: var(--column-3);
  padding: 10px;
  border-radius: 10px;
}

.on-hold{
  background-color: var(--column-4);
  padding: 10px;
  border-radius: 10px;
}

/*input display */
.container_input {
  display:none
  }
.container_remove-input {
   display: flex;
   padding: 5px;
  }
  #input {
    padding: 3px;
    border-radius: 5px;
    border: none;
    margin: auto 5px
  }
  .input_button-add{
cursor: pointer;
border:none;
background-color: transparent;
color:white;
  }
  .input_button-cancel{
cursor: pointer;
border:none;
background-color: transparent;
color:white;
  }

  /*image size*/

  img {
    width: 13px;
    height: 13px;
  }

  /* style task */

  li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
  }
  .button_task {
border: none;
color:white;
padding: 0.5rem;
text-align: center;
text-decoration: none;
background-color: white;
border-radius: 8px;  
cursor: pointer;
margin: 2px;
  }

  /* container with tasks */

  #complete_ul {
    background-color: var(--column-3);
    border-radius: 8px;
    padding: 10px;
  }

  #backlog_ul {
  background-color:var(--column-1);
  border-radius: 8px;
  padding: 10px;
  }

  #onhold_ul{
    background-color:var(--column-4);
    border-radius: 8px;
    padding: 10px;
  }
  #progress_ul {
    background-color:var(--column-2);
    border-radius: 8px;
    padding: 10px;
  }


  /*add task button */
  .add_task-button{
    background-color: transparent;
    color: white;
    border:none;
    cursor: pointer;
  }